.topicos {
    background: var(--azul-degrade);
    text-align: center;
   padding-bottom: 1em;

}

.topicos__titulo {
    padding-top: 1.5em;
    margin-bottom: 2em;
    color: var(--branco);
    font-weight: 300;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
    
}